<h1 align = "center">Merchant Dashboard</h1>
  <h2 align = "center"><%= @merchant.name %></h2>
  <p align = "center"><%= @merchant.address %></p>
  <p align = "center"><%= @merchant.city %>, <%= @merchant.state %>, <%= @merchant.zip %></p>

  <ul><%= link_to "Your Items", "/merchant/items" %></ul>
